{
  "presets": [

    ["@babel/preset-env",{
        "useBuiltIns": "usage",
        "corejs": "3.22",
        "modules": "umd",
        "browserslist": "> 0.25%, not dead"
    }],

    ["@babel/preset-react", {
        "pragma": "e",
        "pragmaFrag": "f",
        "throwIfNamespace": true,
        "runtime": "classic"
    }]

  ],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env",
        ["@babel/preset-react", { "development": true }]
      ]
    }
  }
}